* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 186px;
  line-height: 68px;
  border-radius: 14px;
  text-align: center;
  background: #1ebfc1;
  color: #fff;
  font-family: Poppins;
  font-size: 1.8;
  font-weight: 600;
}

.hero .img-block span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0d1111;
  display: block;
}

/* ========== Header ========== */
.head {
  padding-top: 40px;
  /* background: #9c9292; */
  background: #fff;
}

.head.fixed {
  position: sticky;
  top: -40px;
  z-index: 1;
}

.head .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.head .navbar .list {
  display: flex;
}

.head .navbar .list .item {
  padding: 8px 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2f3a3b;
}

.head .navbar .list a:hover {
  text-shadow: 1px 0 0 #2f3a3b;
}

.head .active .cta-btn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2f3a3b;
}

.head .active .cta-btn:hover {
  color: var(--primary-color);
}

.head .active .btn-sign-up {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  min-width: 108px;
  line-height: 48px;
  margin-left: 24px;
}

.head .active .btn-sign-up:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ========== Hero ========== */
.hero {
  padding-top: 38px;
}

.hero .row {
  display: flex;
}

.hero .row .info {
  width: 45.3%;
}

.hero .info {
  margin-top: 93px;
}

.hero .info .info-course {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #767e7e;
}

.hero .info .title {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
  color: #0d1111;
  margin-top: 18px;
}

.hero .info .desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  color: #9da6a5;
  margin-top: 46px;
  max-width: 360px;
}

.hero .cta {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .cta .btn-hero {
  margin-right: 50px;
}

.hero .cta .btn-hero:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.hero .cta .cta-play {
  background: transparent;
  border: 0;
  background: #fff;
  color: var(--primary-color);
  width: 62px;
  height: 62px;
  box-shadow: 0px 22px 50px 0px #0000000d;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .cta button:hover {
  background: var(--primary-color);
  color: #fff;
}

.hero .row .img-block {
  display: flex;
  position: relative;
  width: 54.7%;
  flex-direction: column;
}

.hero .img-block .img-hero {
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: auto;
}

/* Courses */
.hero .img-block .stats-courses {
  position: absolute;
  left: 16px;
  top: 149px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  max-width: 157px;
  padding: 17px 25px 18px;
  border-radius: 18px;
  box-shadow: 0px 10px 80px 0px #0000000d;
  background: #fff;
}

.hero .stats-courses-book {
  position: relative;
}

.hero .stats-courses-book .separate-book::after {
  position: absolute;
  left: 4px;
  top: 72%;
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 8px;
  background: #fff;
}

.hero .stats-courses span {
  max-width: 55px;
}

/* Schedules */
.hero .stats-schedules {
  position: absolute;
  bottom: 46px;
  max-width: 124px;
  padding: 16px 25px 23px;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0px 10px 80px 0px #0000000d;
}

.hero .stats-schedules span {
  padding-bottom: 16px;
}

.hero .stats-schedules .stats-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .stats-schedules .img-stats-schedules {
  width: 74px;
  height: 6px;
  margin-bottom: 12px;
}

.hero .stats-schedules .img-stats-schedules:last-child {
  width: 26px;
  margin: 4px 0 0;
}

/* Our Active Students */
.hero .img-block .students-our {
  position: absolute;
  right: 45px;
  bottom: 41px;
  background: #fff;
  max-width: 207px;
  padding: 17px 35px;
  box-shadow: 0px 12px 80px 0px #0000000d;
  border-radius: 24px;
}

.hero .img-block .students-our span {
  margin-bottom: 8px;
}

.hero .students-our .students-list {
  display: flex;
}

.hero .students-our .students-list img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.hero .students-our .students-list img + img {
  margin-left: -7px;
}

.hero .students-our .students-list .avatar-student {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-left: -7px;
}

.hero .students-our .avatar-student span {
  font-size: 10px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #fff;
}

/* ========== Features ========== */
.feature {
  margin-top: 65px;
  padding: 65px 0;
}

.feature .feature-top {
  max-width: 591px;
}

.feature .feature-top .item {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #767e7e;
  margin-bottom: 18px;
}

.feature .feature-top .title {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
  color: #0d1111;
  margin-bottom: 18px;
}

.feature .feature-top .desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #767e7e;
}

.feature .features-list {
  display: flex;
  gap: 200px;
  margin-top: 80px;
}

.feature .features-list .feature-item {
  width: 19%;
}

.feature .feature-item .img-block-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 106px;
  border-radius: 16px;
  background: var(--features-color, #ffc147);
  margin-bottom: 26px;
}

.feature .feature-info .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0d1111;
  margin-bottom: 16px;
}

.feature .feature-info .desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.69;
  color: #9da6a5;
}
